QToolButton{
	color: #98A1B7;
	border: 2px solid #98A1B7;
	border-radius: 5px;
  	text-decoration: none;
	padding: 6px 16px 6px 16px;
}

QToolButton:hover{
	background-color: #272F37;
	color: #D0D9F6;
}

QToolButton:focus{
    outline: none;
}
